.add-task-button-container {
  text-align: left;
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  width: 100%;
  padding-left: 1.25rem;
}

.add-task-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.add-task-button p {
  align-self: center;
}

.add-sign-wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.add-sign {
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

dialog {
  margin: auto auto;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

button[type="submit"] {
  margin-top: 2rem;
}
