.page-wrapper {
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.app-header {
  padding: 3rem 0 0 1.25rem;
}

.app-main {
  padding: 3rem 0 0 1.25rem;
  padding-top: 1.5rem;
}

li {
  list-style-type: none;
}
