.header-btn-wrapper {
  display: flex;
  align-items: center;
}

.list-header h1 {
  padding: 1.5rem 0 0 1.25rem;
}

.list-header button {
  padding: 1.5rem 0 0 0.75rem;
}

.list-main {
  padding: 3rem 0 0 1.25rem;
  padding-top: 1.5rem;
}

.completion-info {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}

.task-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

input[type="radio"] {
  transform: scale(1.5);
}
